* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.garage {
    color: white;
    font-size: 165px;
    text-align: center;
    margin-top: 35vh;
}


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.tagline {
    color: #ddd;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}

