@font-face {
    font-family: "Quicksand-Variable";
    src: url("fonts/Quicksand-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PlanetKosmos";
    src: url("fonts/PLANK___.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#home{
    height:100vh;
    width:100%;
    background-image: url("porche-blk.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 10px;
}
nav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(2px);
    margin-top: -275px;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    position: relative;
    z-index: 10;
}
nav:hover{
    background: rgba(255, 255, 255, 0.25);  
    backdrop-filter: blur(4px);
    transition: 0.3s;
}
li{
    list-style: none;
    text-decoration: none;
}

.btn-logout{
    padding: 7px 10px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: quicksand-variable, sans-serif;
}
.btn-logout:hover{
    background-color: rgb(235, 52, 52);
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.nav-links{
    display: flex;
    gap: 30px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: quicksand-variable, sans-serif;
}
a:hover{
    color: #000000;
    transition: 0.3s;
}

.heading{
    color: white;
    font-size: 58px;
    text-align: center;
    font-family: 'PlanetKosmos', sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}
.head-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tag-line{
    color: white;
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
.btn {
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-bottom: -250px;
}
.btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* ------------------------------------------------------------ */
/* section services */
#service{
    height:100vh;
    width:100%;
    background-image: url("mercedes.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-bottom: 40px;
    font-family: 'PlanetKosmos', sans-serif;
    font-weight: 100;
}
.cards{
    display: flex;
    grid-template-columns: max-content;
}
.card{
    background: rgba(255, 255, 255, 0.15);  
    color: white;
    backdrop-filter: blur(2px); 
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 260px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.para-card{
    font-family: quicksand-variable, sans-serif;
}

/* ------------------------------------------------------- */
/* section booking */
#booking{
    height:100vh;
    width:100%;
    background-image: url("porche2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#booking-form{
    background-color: rgb(255, 255, 255,0.15);
    backdrop-filter: blur(2px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 320px;
    width: 350px;
    margin-left: -578px;
    margin-top: 20px;
    font-family: quicksand-variable, sans-serif;
}

#booking h1{
    margin-top: -50px;
    /* color: #242424; */
    /* color: #1a1919; */
    color: white;
    font-size: 80px;
    font-family: 'PlanetKosmos', sans-serif;
    font-weight: 100;
}

#booking input{
    width: 100%;
    padding: 8px 10px;
    background: rgba(255, 255, 255, 0.15);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: quicksand-variable, sans-serif;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

label{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: quicksand-variable, sans-serif;
}

#booking select{
    width: 100%;
    padding: 8px 10px;
    background: rgba(255, 255, 255, 0.15);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-family: quicksand-variable, sans-serif;
}

#book-result {
    margin-top: 30px;
    width: 100%;
}


.confirmation {
    background: rgba(225, 225, 225, 0.15);
    color: white;
    padding: 25px;
    margin-left: 520px;
    width: 400px;
    margin-top: -10px;
    font-family: quicksand-variable, sans-serif;
}

.confirmation h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.confirmation p {
    margin: 8px 0;
    font-size: 16px;
}




/* ----------------------------------------------------------- */
/* section price calculator */
#price-Calculator{
    height:80vh;
    width:100%;
    background-image: url("lambo-blk.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


#price-Calculator h1{
    font-size: 65px;
    text-align: center;
    color: white;
    margin-top: -254px;
    font-family: 'PlanetKosmos', sans-serif;
    font-weight: 100;
}



#price-Calculator label{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: quicksand-variable, sans-serif;
}

#result{
    color: white;
    font-size: 40px;
    position: relative;
    top: 300px;
    margin-bottom: 20px;
    margin-top: -40px;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ----------------------------------------------------------------- */
/* section contact */
#contact{
    height:60vh;
    width:100%;
    background-image: url("contact.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
}

#contact h1{
    color: white;
    margin-left: 30px;
    font-size: 50px;
    font-family: 'PlanetKosmos', sans-serif;
    font-weight: 100;
}

#contact p{
    font-size: 20px;
    margin-left: 30px;
    font-family: quicksand-variable, sans-serif;
}


/* ========================= */
/* SMALL LAPTOPS (<=1200px) */
/* ========================= */
@media (max-width: 1200px) {

    .heading {
        font-size: 48px;
    }

    .service-h1 {
        font-size: 64px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    #booking h1,
    #booking-form {
        margin-right: 0;
    }
}


/* ========================= */
/* TABLETS (<=900px) */
/* ========================= */
@media (max-width: 900px) {

    nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 0;
    }

    .nav-links {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .heading {
        font-size: 40px;
    }

    .tag-line {
        font-size: 18px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 240px;
    }

    #booking h1 {
        font-size: 56px;
        margin: 0;
        text-align: center;
    }

    #booking-form {
        margin: 0;
    }

    #price-Calculator h1 {
        margin-top: 0;
        font-size: 36px;
    }
}


/* ========================= */
/* MOBILE (<=600px) */
/* ========================= */
@media (max-width: 600px) {

    nav {
        padding: 10px;
    }

    .logo {
        height: 50px;
        width: 50px;
    }

    .nav-links {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    a {
        font-size: 16px;
    }

    .heading {
        font-size: 32px;
    }

    .tag-line {
        font-size: 16px;
        padding: 0 10px;
    }

    .btn {
        font-size: 16px;
        padding: 10px 22px;
        margin-bottom: 0;
    }

    .service-h1 {
        font-size: 33px;
        margin-bottom: 5px;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
    }

    #booking {
        padding: 20px;
        display: block;

    }

    #booking h1 {
        font-size: 40px;
        margin: 0 0 20px 0;
        text-align: center;
    }

    #booking-form {
        width: 100%;
    }
    .confirmation{
    margin-left: 0px;
    width: 322px;
    margin-top: 79px;
    }

    #price-Calculator h1 {
        font-size: 32px;
        margin-top: 0;
    }

    #price-Calculator input {
        width: 90%;
    }

    #result{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    position: static;
    }

    #contact h1 {
        font-size: 36px;
        margin-bottom: 70px;
    }

    #contact p {
        font-size: 16px;
    }
}
