@font-face {
    font-family: "PlanetKosmos";
    src: url("fonts/PLANK___.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.garage {
    font-family: "PlanetKosmos";
    color: white;
    font-size: 85px;
    text-align: center;
    margin-left: -399px;
    margin-top: 120px;
}



.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 2px solid white;
}


.btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
.btn-icon {
    transition: 0.3s ease;
}


.tagline {
    color: #ddd;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}



/* ========================= */
/* LARGE LAPTOPS (<=1200px) */
/* ========================= */
@media (max-width: 1200px) {

    .garage {
        font-size: 120px;
    }
}


/* ========================= */
/* TABLETS (<=900px) */
/* ========================= */
@media (max-width: 900px) {

    .garage {
        font-size: 90px;
        margin-top: 32vh;
    }

    .btn {
        font-size: 16px;
        padding: 10px 26px;
    }

    .tagline {
        font-size: 16px;
    }
}


/* ========================= */
/* MOBILE (<=600px) */
/* ========================= */
@media (min-width: 390px) and (max-width: 844px) {

    .garage {
        font-size: 44px;
        margin-left: -151px;
        margin-top: 195px;
        margin-bottom: 90px;
    }

    .btns {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .btn {
        width: 200px;
        justify-content: center;
    }

    .tagline {
        font-size: 14px;
        padding: 0 15px;
    }

    /* Improve mobile video performance */
    .bg-video {
        object-fit: cover;
        filter: brightness(0.7);
    }
}
