@font-face {
    font-family: "PlanetKosmos";
    src: url("fonts/PLANK___.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.garage {
    font-family: "PlanetKosmos";
    color: white;
    font-size: 85px;
    text-align: center;
    margin-left: -399px;
    margin-top: 120px;
}



.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 2px solid white;
}


.btn:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}
.btn-icon {
    transition: 0.3s ease;
}


.tagline {
    color: #ddd;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}


@media (max-width: 480px) {

    .garage {
        margin-bottom: 79px;
        font-size: 44px;
        margin-left: -154px;
        margin-top: 195px;
        text-align: center;
    }

    .btns {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .btn {
        width: 200px;
        justify-content: center;
    }

    .tagline {
        font-size: 14px;
        padding: 0 15px;
    }

    .bg-video {
        filter: brightness(0.7);
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    .garage {
        font-size: 36px;
        margin-left: 0;
        margin-top: 120px;
        text-align: center;
    }

    .btns {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .btn {
        width: 180px;
    }

    .tagline {
        font-size: 13px;
        max-width: 80%;
        margin: auto;
    }

    .bg-video {
        filter: brightness(0.75);
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .garage {
        font-size: 52px;
        margin-left: 0;
        margin-top: 230px;
        text-align: center;
    }

    .btns {
        gap: 25px;
        justify-content: center;
    }

    .btn {
        width: 220px;
    }

    .tagline {
        font-size: 16px;
        max-width: 600px;
        margin: auto;
    }

    .bg-video {
        filter: brightness(0.7);
    }
}



@media (min-width: 992px) and (max-width: 1199px) {

    .garage {
        font-size: 58px;
        margin-left: -200px;
        margin-top: 160px;
    }

    .btn {
        width: 240px;
    }

    .bg-video {
        filter: brightness(0.7);
    }
}


@media (min-width: 1200px) and (max-width: 1440px) {

    .garage {
        font-size: 60px;
        margin-left: -250px;
        margin-top: 150px;
    }

    .bg-video {
        filter: brightness(0.7);
    }
}


@media (min-width: 1441px) {

    .garage {
        font-size: 85px;
        margin-left: -399px;
        margin-top: 120px;
    }
}




/* @media (min-width: 390px) and (max-width: 844px) {

    .garage {
        font-size: 44px;
        margin-left: -151px;
        margin-top: 195px;
        margin-bottom: 90px;
    }

    .btns {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .btn {
        width: 200px;
        justify-content: center;
    }

    .tagline {
        font-size: 14px;
        padding: 0 15px;
    }


    .bg-video {
        object-fit: cover;
        filter: brightness(0.7);
    }
}


@media (min-width: 845px) and (max-width: 1440px) {
    .garage {
        font-size: 60px;
        margin-left: -250px;
        margin-top: 150px;
    }

    .bg-video {
        object-fit: cover;
        filter: brightness(0.7);
    }
} */